.container .card .m-1.postPreview {
  max-height: 350px;
  overflow-y: hidden;
  -webkit-mask-image: linear-gradient(to bottom, #000000 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, #000000 80%, transparent 100%);
}
.container .card .m-1.postPreview .date {
  float: right;
}
.date {
  float: right;
}
